@import "../../styles/mixins";
@import "../../styles/variables";

.container {
    @include distance();

    display: flex;

    
    img {
        width: 400px;
    }
}

.explanations {
    width: 450px;

    .title {
 

      span {
        display: inline-block;
        width: 110px;
        height: 4px;
        background-color: $darkGreen;
      }
    }

    h4 {
        margin: 30px 0 15px
    }

    p {
        width: 450px;
        @include textStyle($textSecondary, 1rem, 500);
        text-align: justify;
    }

    button {
        margin-top: 30px;
        width: 100px;
        @include textStyle(#fff, 0.9rem, 500);
        border: none;
        padding: 10px 15px;
        background-color: $darkGreen;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
}

@include media(M) {
    .container {
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .title {
            margin-right: 15px;
        }

        span {
            margin-bottom: 20px;
        }
        img {
            margin-top: 40px;
        }
    }
}