@import "../../styles/mixins";
@import "../../styles/variables";

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 50px auto;


}

.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-top: 50px;

    .box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 120px;
        height: 120px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 70px 10px;

        

    }
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    @include textStyle(rgb(38, 38, 38), 1rem, 700);

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}