@import "../../styles/mixins";
@import "../../styles/variables";

.container {
    display: flex;
    flex-direction: column;
    @include distance();

 
    h3 {
        color: $darkGreen;
    } 
}

.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-top: 50px;

    .box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 120px;
        height: 120px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 70px 10px;

        

    }
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    @include textStyle(rgb(38, 38, 38), 1rem, 700);

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@include media(M) {
    .container {
        padding: 10px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        place-items: center;
    }
    .box {
        margin-top: 15px;
    }
}